body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
    color: black !important;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  .text-late {
  background-color: #e96a6a; 
  }

  .text-warning {
  background-color: #e8eb6b; 
  }